
.logo {
  height: 64px;
  overflow: hidden;
  position: relative;
  line-height: 64px;
  padding-left: 24px;
  background: #002140;
}

.logo h1{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-left: 12px;
  display: inline-block;
  vertical-align: middle;
}

.header{
  top: 0;
  right: 0;
  width: 100%;
  padding: 0;
  z-index: 9;
  position: fixed;
  background: #fff;
  transition: width .2s;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
}

.trigger {
  font-size: 20px;
  height: 64px;
  cursor: pointer;
  transition: all .3s,padding 0s;
  padding: 22px 24px;
}

.sider{
  left: 0;
  overflow: 'auto';
  box-shadow: 2px 0 6px rgba(0,21,41,.35);
}

.content{
  padding: 95px 30px 30px;
  background: #ececec;
}